<!-- <div>

  <mat-checkbox
  #checkDetails
  [value]="2"
  (change)="onChange($event, checkDetails)"
  >Subscribe</mat-checkbox> <br>

<div *ngIf="checkDetails.checked">
  <mat-checkbox>Check me!</mat-checkbox>
<br>
<mat-radio-group aria-label="Select an option" value="1">
  <mat-radio-button value="1">Male</mat-radio-button>&nbsp;
  <mat-radio-button value="2">Female</mat-radio-button>
</mat-radio-group>
</div>
</div> -->
<!-- <div>
<mat-form-field>
  <mat-label>Select color</mat-label> <br>
  <mat-select [formControl]="animalControl" required>
    <mat-option>None</mat-option>
    <mat-option *ngFor="let color of colors" [value]="color.id">
      {{color.name}}
    </mat-option>  
  </mat-select>
  <mat-error *ngIf="animalControl.hasError('required')">Please choose your color</mat-error>
 
</mat-form-field>
  <br>
  <mat-form-field>
  <div>  <mat-label>Favourite food</mat-label><br>
  
  <input matInput required
  #foodName
  ngModel  
  type="text">   
  <mat-error>Enter food</mat-error> 
</div>
</mat-form-field>
</div>
<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input
  ngModel
  #foodname="ngModel"
  matInput placeholder="Ex. Pizza" name="foodname" required>
  <mat-error *ngIf="foodname.invalid && foodname.errors.required">Enter food</mat-error> 
</mat-form-field>
<br>
<mat-form-field class="example-full-width" cols="4">
  <mat-label>Leave a comment</mat-label>
  <textarea matInput matTextareaAutosize placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>
<br>
<form class="example-form">
<mat-form-field class="example-full-width">
  <mat-label>Telephone</mat-label>
  <mat-icon matPrefix class="phone-icon">call</mat-icon>
  <span matPrefix>+91 &nbsp;</span>
  <input type="tel" matInput placeholder="9812345678">
  <mat-icon matSuffix class="edit-icon">mode_edit</mat-icon>
</mat-form-field>
</form> -->

<br>
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input
  ngModel
  #dinput="ngModel"
  (focus)="picker.open()" 
  [min]="minDate"
  [max]="maxDate"
  [value]="minDate"
  matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="View calender" matTooltipPosition="right"></mat-datepicker-toggle>
  <mat-datepicker #picker touchUi="true"></mat-datepicker>
</mat-form-field>
  <p>{{dinput.value}}</p>

  <br>
  
  <button color="primary" mat-raised-button matTooltip="Click the button to Primary" matTooltipPosition="below">Primary</button>&nbsp;
  <button color="accent" mat-raised-button matTooltip="Click the button to Accent" matTooltipPosition="below">Accent</button>&nbsp;
  <button color="warn" mat-raised-button matTooltip="Click the button to Warn" matTooltipPosition="below">Warn</button>&nbsp;
  <button color="primary" mat-fab matTooltip="Click the button to check" matTooltipPosition="right"><mat-icon>check</mat-icon></button>
  <br>
  <mat-chip-list>
    <mat-chip *ngFor="let category of categories" color="accent"
    (click)="selectCategory(category)"
    [selected]="category.selected">
      {{category.name}}
    </mat-chip>
  </mat-chip-list> 
  <mat-tab-group mat-align-tabs="start">
    <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" color="primay">home</mat-icon>
      About Us
    </ng-template>
    <h1>About Us</h1>
  </mat-tab>
    <mat-tab label="Products"><h1>Product details</h1></mat-tab>
    <mat-tab label="Contact"><h1>Contact details</h1></mat-tab>
  </mat-tab-group>
  <br>
  <button 
  (click)="openDialog()"
  mat-raised-button>Open dialog</button>
  
